ul{
    list-style: none;
    padding: 0px;
}
li{
    border-bottom: 1px solid #edf1f7;
    color: #1a2138;
    font-family: Open Sans,sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 2rem;
}
li:hover{
    background-color:#E8E8E8	;
}
li a:hover{
    color:blue;
}